@model IEnumerable<CCMovieDatabase.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThumbnailURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @if (item.ThumbnailURL != null)
                {
                        <img src="@item.ThumbnailURL" />
                    }
                    else
                    {
                        <p>No Thumbnail</p>
                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating.RatingId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

*@
<div class="row row-cols1 row-cols-xs-2 row-cols-sm-3 row-cols-md-4 g-4">
    @foreach (var item in Model)
    {
       
    <div class="card m-3 " style="width: 18rem;">
        <img src="@item.ThumbnailURL" class="card-img-top" alt="@item.ThumbnailURL">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                 <p class="card-text">@item.Description</p>
                 <a asp-controller = "PorterList" class="btn btn-primary"
                 asp-action="details"
                 asp-route-id = "@item.Id">Details</a>
             </div>
    </div>
    }
<div>



@*<div class="row row-cols-1 row-cols-xs-2 row-cols-sm-3 row-cols-md-4 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card">
                <img src="@item.ThumbnailUrl" class="card-img-top" alt="@item.ThumbnailUrl">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.ShortDescription</p>
                    <a class="btn btn-primary"
                       asp-controller="blog"
                       asp-action="details"
                       asp-route-id="@item.ArticleId">Read More</a>
                </div>
            </div>
        </div>
    }
</div>

*@